{% extends 'base.html.twig' %}

{% block title %}Daemonicus Homepage{% endblock %}

{% block body %}

<div class="wrapper">
    
    {% include("headerLogin.html.twig") %}

    <div class="wrapperInside">
        <h1> Daemonicus </h1>

        <h3>A tale about mythologies, epic heroes, adventure, magic and glory</h3>
        <button class="insideBtn">Explore</button>
        <button class="insideBtn">Join in</button>
        <button class="insideBtn">Launch game</button>
    </div>
</div>
{% endblock %}