{% extends 'baseLogin.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="wrapper">
    
    {% include("headerHome.html.twig") %}

    <div class="wrapperInside">

    <p>LOGIN PAGE</p>

    </div>
</div>
{% endblock %}